.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;

  border-radius: 12px;
  background-color: var(--white);

  .monthPicker {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .monthButton {
      display: flex;
      align-items: center;
      justify-content: center;

      width: var(--date_picker_cell_side);
      height: var(--date_picker_cell_side);

      .arrow {
        width: 100%;
        height: 100%;

        color: var(--text_tertiary);

        &:hover {
          color: var(--black);
        }
      }
    }

    .month {
      font-weight: 700;
    }
  }

  .calendar {
    display: flex;
    flex-direction: column;
    gap: var(--date_picker_gap);

    .weekDaysList {
      display: flex;
      align-items: center;
      gap: var(--date_picker_gap);

      .weekDay {
        width: var(--date_picker_cell_side);
        height: var(--date_picker_cell_side);

        color: var(--text_tertiary);
      }
    }

    .daysContainer {
      display: flex;
      align-items: center;
      gap: var(--date_picker_gap);

      .days {
        display: grid;
        grid-template-columns: repeat(7, var(--date_picker_cell_side));
        gap: var(--date_picker_gap);

        font-weight: 700;

        .emptyDay {
          width: var(--date_picker_cell_side);
          height: var(--date_picker_cell_side);
        }

        .dayItem {
          width: var(--date_picker_cell_side);
          height: var(--date_picker_cell_side);

          &:hover {
            color: var(--yellow);
          }

          &.selected {
            color: var(--yellow);
          }
        }
      }
    }
  }
}
