.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .icon {
    max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px;

    stroke-width: 2px;
  }

  .addButton {
    width: 100%;
    height: 100%;
  }
}
