.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 1080px;

  padding: 40px 60px;

  .fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    row-gap: 10px;
    column-gap: 10px;

    .formField {
      flex-basis: 306px;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

.formFieldWidth {
  max-width: 306px;
  min-width: 306px;
}
