.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;

  .item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    width: 100%;

    .datePicker {
      flex-basis: 306px;
      flex-grow: 0;
      flex-shrink: 0;

      .icon {
        max-width: 20px;
        max-height: 20px;
        min-width: 20px;
        min-height: 20px;
      }
    }

    .input {
      flex-basis: 306px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .deleteButton {
      width: fit-content;
      height: fit-content;

      .cross {
        max-width: 25px;
        min-width: 25px;
        max-height: 25px;
        min-height: 25px;

        stroke-width: 2px;

        color: var(--red);
      }
    }
  }
}
