.trigger {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 10px;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  z-index: 1000;

  cursor: pointer !important;

  .chevronWrapper {
    max-width: 20px;
    max-height: 17px;
    min-width: 20px;
    min-height: 17px;

    .chevron {
      width: 100%;
      height: 100%;

      stroke-width: 3px;

      transition: transform 0.3s ease-in;

      &.opened {
        transform: rotate(180deg);
      }
    }
  }
}
